.swiper_banner {
	overflow: hidden;
	background: #fff;
}

.swiper_banner .banner {
	width: 100%;
}

.swiper_banner .banner .swiper-wrapper .swiper-slide{
	width: 84%;
	margin: 0 0.1333rem;
}
.swiper_banner .banner .swiper-wrapper .swiper-slide img {
	display: block;
	width: 100%;
	height: 3.4133rem;
	border: none;
	border-radius: 0.1066rem;
}